    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; 2024 CatBox. </span>
        </div>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>
