<%- include('partials/header', { title: 'Witaj na CatBox' }) %>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Witaj na CatBox!</h1>
        <p class="lead">Strona społecznościowa dla miłośników kotów.</p>
        <hr class="my-4">
        <table>
        <tr>
        <td><p>Czy uwielbiasz swojego kociaka i chcesz podzielić się jego urokiem z innymi? Dołącz do nas już dziś i daj swoim kotkom chwilę sławy na naszej platformie społecznościowej.</p></br></br></br>
        <a class="btn btn-primary btn-lg" href="/users/register" role="button">Dołącz teraz</a></td><td width=50px;></td>
        <td><img src="/images/kotek.jpg" class="card-img-top" alt="Sweet kotek"></td>
        </table>
    </div>
</div>

<%- include('partials/footer') %>
